##############################
# Paveway configuration file #
##############################

# The list of passwords that paveway should try to use
PAVEWAY_PASSWORDS=('s3cr3t' 'root' 'toor')

# Binaries or scripts that should be copied from this host to the
# remote host. A typical example would be rmate.
# This works with files that are in $PATH on the local machine.
#XFER_FILES=('rmate')
